body	{background: linear-gradient(to bottom, #000099 0%, #ccccff 100%);
		margin: 0px;
		max-width: 100%;}

header	{color: white;
		text-align: center;}

main	{padding: 20px;}

footer	{display: grid;
		grid-template-columns: auto auto;}

h3		{font-family: 'Source Sans Pro', sans-serif;
		padding: 10px;}

p 		{font-family: 'Open Sans Condensed', sans-serif;
		font-size: 16px;}

a 		{text-decoration: none;
		color: black;}

blockquote 	{margin-top: 50px;}

.logo		{width: 250px;
			text-align: center;}

.verk		{text-align: right;
			padding : 10px;}

.planner	{border: 3px dashed #0000cc;
			height: 300px;
			margin-right: 20px;
			margin-left: 20px;
			border-radius: 15px;}

.lee 		{width: 145px;
			float: left;
			padding-right: 20px;}

.none		{max-width: 60em;
			margin: 0 auto;}

.mee		{background: linear-gradient(to bottom, #66ffcc 0%, #ccffcc 100%);
			max-width: 100%;}

.see 		{margin-left: 150px;
			margin-top: 10px;
			border: 3px dashed #0000cc;}

.dee 		{display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: 10px;}

.name 		{border: 3px dashed #0000cc;
			padding: 10px;}

.key		{position: fixed;
			bottom: 30px;
			right: 30px;
			font-size: 30px;
			text-decoration: none;
			text-align: center;
			color: white;
			background-color: #000099;
			height: 40px;
			width: 40px;
			border-radius: 50%;}