* 		{box-sizing: border-box;}
h3 		{text-align: center;
		background-color: #95E8AA;
		padding: 5px;}

.efni 	{float: right;}

.verk 	{float: left;}

a 		{text-decoration: none;
		color: black;}