body	{background-color: #FCD8D0;
		padding: 10px;}

h1		{margin: 30px;
		padding: 5px;}

.P 			{padding: 15px;}

.green 		{display: block;
			padding : 1em;
			margin : 1em;
			border : 3px dashed green;}

.blue 		{display: inline;
			padding: 1em;
			margin: 1em;
			border: 3px dashed blue;}

.red		{display: inline-block;
			padding: 1em;
			margin: 1em;
			border: 3px dashed red;}