body	{background-color: #FCD8D0;
		padding: 10px;}

h1		{margin: 30px;
		padding: 5px;}

p 			{text-align: center;}

.box 		{display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2em;
			height: 5em;}

.row 		{display: flex;
			flex-flow: row-reverse;}

.col 		{display: flex;
			flex-flow: column-reverse;}

.blar 		{background-color: #3FF6FF}

.graenn 	{background-color: #00EB45;}

.raudur 	{background-color: #FF1608;}

.gulur 		{background-color: #FFFF33;}

div 		{flex-grow: 1;}