body	{background-color: #FCD8D0;
		padding: 10px;}

h1		{margin: 30px;
		padding: 5px;}

div		{padding: 50px;
		margin: 30px;}

.A 		{border: 5px solid #BAF4FF;}

.B 		{border: 5px dashed #ADE89E;}

.Verkefni 	{border: 5px solid #BE9EE8;
			text-align: center;}